In [29]:
import pandas as pd

# Load iris dataset
df = pd.read_csv("Iris.csv")

In [30]:
pd.set_option('display.width', 1000)
pd.set_option('display.max_columns', 10)

In [31]:
# 1. DataFrame
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1           3.5            1.4           0.2     Iris-setosa
1      2            4.9           3.0            1.4           0.2     Iris-setosa
2      3            4.7           3.2            1.3           0.2     Iris-setosa
3      4            4.6           3.1            1.5           0.2     Iris-setosa
4      5            5.0           3.6            1.4           0.2     Iris-setosa
..   ...            ...           ...            ...           ...             ...
145  146            6.7           3.0            5.2           2.3  Iris-virginica
146  147            6.3           2.5            5.0           1.9  Iris-virginica
147  148            6.5           3.0            5.2           2.0  Iris-virginica
148  149            6.2           3.4            5.4           2.3  Iris-virginica
149  150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 6 columns]

In [33]:
df.shape

(150, 6)

In [34]:
# 2. head()
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [35]:
# 3. tail()
print(df.tail())

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
145  146            6.7           3.0            5.2           2.3  Iris-virginica
146  147            6.3           2.5            5.0           1.9  Iris-virginica
147  148            6.5           3.0            5.2           2.0  Iris-virginica
148  149            6.2           3.4            5.4           2.3  Iris-virginica
149  150            5.9           3.0            5.1           1.8  Iris-virginica

In [36]:
# 4. count()
print(df.count())

Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
dtype: int64

In [ ]:
# 5. Sum
print(df.sum(numeric_only=True))

Id               11325.0
SepalLengthCm      876.5
SepalWidthCm       458.1
PetalLengthCm      563.8
PetalWidthCm       179.8
dtype: float64

In [ ]:
# 6. Mean
print(df.mean(numeric_only=True))

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [ ]:
# 7. Median
print(df.median(numeric_only=True))

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

In [42]:
# 8. Mode
print(df.mode(numeric_only=True).iloc[0])

Id               1.0
SepalLengthCm    5.0
SepalWidthCm     3.0
PetalLengthCm    1.5
PetalWidthCm     0.2
Name: 0, dtype: float64

In [41]:
# 9. Standard Deviation
print(df.std(numeric_only=True))

Id               43.445368
SepalLengthCm     0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
dtype: float64

In [ ]:
# 10. Minimum
print(df.min(numeric_only=True))

Minimum:
 Id               1.0
SepalLengthCm    4.3
SepalWidthCm     2.0
PetalLengthCm    1.0
PetalWidthCm     0.1
dtype: float64

In [44]:
# 11. Maximum
print(df.max(numeric_only=True))

Id               150.0
SepalLengthCm      7.9
SepalWidthCm       4.4
PetalLengthCm      6.9
PetalWidthCm       2.5
dtype: float64

In [47]:
# 12. Absolute Values (first 5 rows)
print(df.select_dtypes(include='number').abs().head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [46]:
# 13. Product
print(df.prod(numeric_only=True))

Id                0.000000e+00
SepalLengthCm    2.257440e+114
SepalWidthCm      1.197477e+72
PetalLengthCm     3.774489e+76
PetalWidthCm      2.972714e-12
dtype: float64

In [48]:
# 14. Cumulative Sum (first 5 rows)
print(df.select_dtypes(include='number').cumsum().head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   3           10.0           6.5            2.8           0.4
2   6           14.7           9.7            4.1           0.6
3  10           19.3          12.8            5.6           0.8
4  15           24.3          16.4            7.0           1.0

In [49]:
# 15. Cumulative Product (first 5 rows)
print(df.select_dtypes(include='number').cumprod().head())

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0    1         5.1000         3.500         1.4000       0.20000
1    2        24.9900        10.500         1.9600       0.04000
2    6       117.4530        33.600         2.5480       0.00800
3   24       540.2838       104.160         3.8220       0.00160
4  120      2701.4190       374.976         5.3508       0.00032

In [50]:
# 16. Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [51]:
# 17. Shape
print(df.shape)

(150, 6)

In [52]:
# 18. Describe
print(df.describe())

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000